# Sales report using Pandas
***
## Problem Statement

Hello budding Data Scientists. We have with us a bank data set which gives information about the revenue of various customers spread across different regions in USA.

Using the knowledge of Pandas and Matplotlib, we will try to answer certain questions from the bank dataset  

We will also then scrape certain additional data from Wikipedia, clean it and combine it with our bank data for better understandability of the data.      


## About the Dataset


The dataset has details of 15 customers with following 9 features.

|Feature|Description|
|-----|-----|
|account|account Id|
|name|name of the person|
|street|Name of the street|
|city|Name of the city|
|state|Name of the state|
|postal-code|numerical value|
|Jan|Amount in doller|
|Feb|Amount in doller|
|Mar|Amount in doller|




## Why solve this project

Doing this project will enable you to integrate Multiple data sources to answer basic questions. You will also learn to perform common excel tasks with pandas

What will you learn in the session ?
Python Basics
Pandas
Web Scrapping
Functions
Plotting
Pre-requisites
Working knowledge of Pandas, Numpy, Matplotlib
Data indexing and slicing

# Load Data and Compute total
The first step - you know the drill by now - load the dataset and see how it looks like. Additionally, calculate the total amount in the first quarter of the financial year. Calculate the total amount of all the users for the month of jan, feb and Mar and also grand total. 
  

## Instructions

- Load dataset using pandas read_csv api in variable `df` and give file path as `path`.
- The names of the states `state` column are changed to lower case and store it in `df['state']`
- Create a new column named `total` which computes the total amount in the first quarter
  of the financial year i.e. for the months of Jan, Feb and Mar and store it in `df['total']`
- Calculate the sum of amount of all users in the Month of Jan, Feb, March and store it in variable `sum_row` 
 (Here the sum implies the sum of all the entries in the `Jan Column`, sum of entries in `Feb` Column and Grand total stands for the sum of entries in the column `total`)
- Append this computed sum to the DataFrame `df_final` 

## Hints:

- To convert state into lower case use `df['state'] = df['state'].apply(lambda x: x.lower())`



## TestCase:

- variable check df
- df type == pandas.core.frame.DataFrame
- df.shape == (15,10)
- variable check `sum_row`
- variable check `df_sum`
- df_sum type == pandas.core.frame.DataFrame
- variable check `df_final`
- df_final type == pandas.core.frame.DataFrame
- df_final.shape == (16 ,10)

## Success Message:

Congrats!
You have successfully calculated the total for the first quarter.

# Scrape Data From the web 

Here, you will be scraping data from the web and cleaning it. 
 
  
## Instructions:

- Scrapes the url `https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations` and store it in variable `url`
- Use module `requests` to `get` the url and store it in variable called `response`
- load the html file in dataframe `df1`. `Note`:use `pd.read_html(response.content)[0]`.   
- First few rows consists of unclean data. You need to select rows from index 11 till end. Make the values at index 11 as column headers and store it in dataframe `df1`.
- Remove space from the column named 'United States of America' and store the result in dataframe called `df1['United States of America']`

## Hints:

- Remove the space from column use `df1['United States of America'].apply(lambda x: x.replace(" ", "")).astype(object)`


## Testcase:

- variable check `url`
- variable check df1
- df1.shape == (85,15)

## Success Message:
Congrats!
You have successfully scrapped the data.

# Mapping Countries to their abbreviations

Using the data scraped from the previous task, map abbriviation to the name of states.
 
  

## Instructions:

- Load scraped dataset using pandas read_csv api in variable `scraped` and give file path as `path1` 
- Using the scraped data create a variable called `mapping` which has the Country
 as key and Abbreviation as value
- Create a new column called `abbr` as the 7th column (index = 6) of the DataFrame `df_final`
- map the `df_final['state']` on variable `mapping` and store it in `df_final['abbr']` 

## Hints:

- for the mapping use `df1.set_index('United States of America')['US'].to_dict()`

## Testcase :

- variable check scraped
- scrapped.type == pandas.core.frame.DataFrame
- variable check df_final 
- df_final.type == pandas.core.frame.DataFrame
- df_final.shape == (16,11)

## Success Message:
Congrats!
You have successfully added the `abbr` column.

# Filling in the Missing Values

What you will notice in the previous task is that for two states Mississippi and Tennessee will have NaN values in column `abbr`. In this task you will be filling those missing values manually. 
 
  

## Intructions :
-   
- Locate the NaN in the abbr and replace `mississipi` with `MS` and store it in `df_mississipi`
- Locate the NaN in the abbr and replace `tenessee` with `TN` and store it in `df_tenessee`
- update the df_final


## Hints:
- To fill the nan values use `df_final[df_final['state'] == 'mississipi'].replace(np.nan, 'MS')`

## Testcase:

- variable check `df_mississipi`
- variable check `df_tenessee`

## Success Message:

Congrats!
You have successfully filled the missing values.

## Total amount bank hold  


Here, use the newly created abbr column to understand the total amount that the bank holds in each state. Let us make this data frame more readable by introducing units in this case `$` sign representing the unit of mone
 
  

## Instructions :
  
- Groups by `abbr` and finds the sum of aabr,jan,feb ,mar and total store the result in `df_sub`
- Write a `lambda function` to introduce `$` sign infromt of all the numbers using `applymap` and store the result in `formatted_df`


## Hints:

- To introduce `$` use `df_sub.applymap(lambda x: "${:,.0f}".format(x))`.

## Test case:

- variable check `df_sub`
- df_sub.shape == (13,4)
- variable check `formatted_df`
- formatted_df.shape == (13 ,4)

## Success Message :

Congrats!
You have successfully calculated the total amount banks holds.

# Append a row to the DataFrame

In this task, you will append a row to the data frame which will give us information about the total amount of the various regions in Jan, Feb and march and also the grand total
 
## Instructions :

- Computes the sum of amount of all users in the Month of Jan, Feb, March and the  total in variable called `sum_row` 
 (Here the sum implies the sum of all the entries in the `Jan Column`, sum of entries in `Feb` Column and Grand total stands for the sum of entries in the column `total`)
- Tranpose the dataframe `sum_row` and store it in new dataframe `df_sub_sum` 
- Make sure you append the `$` to all the digits and store it in dataframe `df_sub_sum` .
- Append this computed sum to the DataFrame `final_table` 
- rename the index of `final_table` to  `{0: "Total"}` 


## Hints:

- to transpose the dataframe use `pd.DataFrame(data=sum_row).T`

## Test case :

- variable check `sum_row`
- variable check `df_sub_sum`
- variable check `final_table`
- final_table.shape == (14,4)

## Success Message:

Congrats!
You have successfully appended the total.

# Pie chart for total


Having prepared all the data now its time to present the results visually
 
## Instructions :
- add the total of all the three months and store it in variable called `df_sub['total']`
- plot the pie chart for the `df_sub['total']`


## Hints:

- To calculate total use `df_sub['Jan'] + df_sub['Feb'] + df_sub['Mar']`

## Test case:

- variable check df_sub['total']
- df_sub['total']['AR'] == 305000